/* Variables */

$color-dark: #131313;
$color-light: #fff;
$color-main: #ff6b6b;

$color-warning: #f6b93b;
$color-danger: #e55039;
$color-success: #78e08f;

$font-header: 'Oswald', sans-serif;
$font-text: 'Poppins', sans-serif;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;

$transition: all 0.3s;
$radius: 4px;

$base-size: 12px;
